<br><br><br>

<div id="text">
    <h2>Upload A File To Map</h2>
    <p>(Must be a CSV or Excel File)</p><br>
</div>

<div id="Page">
    <div id="new">
        <p-fileUpload name="myfile[]" url="./upload.php"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, .csv, .xls">Upload</p-fileUpload>
    </div>
</div><br><br><br><br>
<div id="navigation">
    <br><br>
    <p>Pages</p>
    <a class="navbar-item" routerLink="">Facilities</a>
    <br><br>
</div>