#Page{
    margin-left:45%;
    margin-right:30%;
    align-content: center;
}
button{
    margin-left:20%;
    margin-right:20%;
}
#drop{
    margin-left:10%;
    margin-right:15%;
}
#navigation{
    margin-left: 11%;
}