#tab {
    width: 90%;
    margin-left: 11%;
    margin-right: 12%;
  }
button{
    margin-left: 38%;
    width: 7%;
}

button{
    width:3.5%;
    left:4%;
}
#fileUp{
    width: 18%;
    margin-left:42.8%;
}
#submitBut{
    width: 4.5%;
    margin-left: 37.5%;
}